<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="backToLogin()" class="back-button">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="secondary-header">Recuperar acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1>Ingresa el Email de la cuenta a recuperar</h1>
  </div>
  <div class="OTP">
    <div class="email-section">
      <div class="input-container">
        <label>EMAIL</label>
        <input type="email" placeholder="johndoe@gmail.com" [(ngModel)]="email" (input)="validateEmail()">
      </div>
    </div>

    <div class="button-border">
      <button class="code-btn" [class.disabled]="!emailValid" [disabled]="!emailValid" (click)="sendCode()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
    </div>
  </div>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="{{alert.header}}"
    message="{{alert.message}}"
    [buttons]="alert.buttons">
  </ion-alert>
</ion-content>
