<ion-header>
  <ion-toolbar>
    <ion-title class="secondary-header">Nueva Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <div class="password-section">
    <div class="input-container">
      <label>Nueva Contraseña</label>
      <input type="password" placeholder="********" [(ngModel)]="newPassword" >
    </div>
    <div class="input-container">
      <label>Confirmar Contraseña</label>
      <input type="password" placeholder="********" [(ngModel)]="confirmPassword" >
    </div>
  </div>

  <div class="button-border">
    <button class="code-btn" (click)="validation()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </button>
  </div>
</ion-content>
