.password-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
}

input {
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid var(--clima3-primary);
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    padding: 0.2rem 0.5rem;
}

.button-border {
    border-top: 2px dashed #d3d3d3;
    position: relative;
    margin-top: 1rem;
    padding-top: 2rem;
}

.code-btn {
    background-color: #e58848;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    width: fit-content;
    aspect-ratio: 1/1;
    transition: background-color 0.3s ease;
}