// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 255, 255, 255;
  --clima3-primary: #0d3150;
  --clima3-primary-rgb: 13, 49, 80;
  --clima3-contrast: #fff;
  --clima3-contrast-rgb: 255, 255, 255;
  --clima3-accent: #e58848;
  --clima3-bg: #d3d9e0;
  --clima3-bg-rgb: 211, 217, 224;
}
