<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a [routerLink]="['../../']" class="back-button"
        ><ion-icon slot="start" name="arrow-back"></ion-icon
      ></a>
    </ion-buttons>
    <ion-title class="secondary-header">Métodos de pago</ion-title>
    <ion-buttons slot="end">
      <a [routerLink]="['../new-card']" class="back-button"
        ><ion-icon slot="end" name="add-outline"></ion-icon
      ></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card [cards]="cards"></app-card>

  <app-card-list 
    [cards]="cards" 
    [selectable]="true"
    (cardSelected)="onCardSelected($event)"
  ></app-card-list>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button expand="round" (click)="deleteCard()">BORRAR TARJETA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
