<app-custom-header (click)="cancelRequest()"></app-custom-header>
 
<ion-content>
  <div class="container-mayor">
    <div class="background-container-firts">
      <h1 class="custom-header h1">¿Dónde necesitas el servicio?</h1>
      <h2 class="custom-header h2">Selecciona o agrega una dirección</h2>
      <div class="tabs-container">
        <span [class.active]="selectedTab === 'direcciones'" (click)="selectTab('direcciones')">Direcciones</span>
        <span [class.active]="selectedTab === 'agregar'" (click)="editAddress(null)">Agregar nueva</span>
      </div>
    </div>
 
    <div class="background-container-second">
      <ion-list *ngIf="selectedTab === 'direcciones'">
        <ng-container *ngIf="direcciones.length > 0; else noRegistros">
          <ion-card *ngFor="let direccion of direcciones" (click)="selectAddress(direccion)"
          [class.selected]="direccion === selectedAddress">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="2" class="icon-col">
                    <ion-icon [name]="direccion.direccion_principal ? 'star' : 'pin'"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-label>
                      <h2 class="selected-text">{{ direccion.name }}</h2>
                      <h3 class="selected-text">{{ direccion.street }}</h3>
                      <h3 class="selected-text">{{ direccion.colony }}</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <div class="icon-container">
                      <ion-icon name="create" class="edit-icon" (click)="editAddress(direccion)" ></ion-icon>
                      <ion-icon name="trash" class="trash-icon"  (click)="confirmDeleteAddress(direccion)"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          </ng-container>
          <ng-template #noRegistros>
            <p class="no-registros-message">No hay registros</p>
          </ng-template>
      </ion-list>
      <div *ngIf="selectedTab === 'agregar'">
        <form>
          <ion-list class="form-container">
            <div class="princ">
              <ion-label>
                Dirección Principal:
              </ion-label>
              <ion-toggle [(ngModel)]="direccion_principal" name="direccion_principal"></ion-toggle>
            </div>
            <div class="input">
              <ion-label class="required">Nombre completo:</ion-label>
              <ion-input [(ngModel)]="name" name="name" required class="input-text" placeholder="Oficina central"
                [disabled]="isNameDisabled" maxlength="40"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Correo Electronico:</ion-label>
              <ion-input [(ngModel)]="email" name="email" required class="input-text" maxlength="40"
                (ionChange)="validateEmail()"></ion-input>
              <p *ngIf="!isValidEmail" class="error-message">¡Por favor, ingresa un correo electrónico válido!</p>
            </div>
            <div class="input">
              <ion-label class="required">Celular:</ion-label>
              <ion-input [(ngModel)]="cellular" name="cellular" required class="input-text" maxlength="10"
                inputmode="numeric" (input)="formatCellular($event)"></ion-input>
            </div>

            <hr class="separator">
 
            <div class="gps ion-text-right">
              <ion-button class="content-button" (click)="getPosition()">
                <ion-icon name="pin" class="icon"></ion-icon>
                <span class="button-text">Obtener dirección</span>
              </ion-button>
            </div>
            <div class="input">
              <ion-label class="required">Ciudad:</ion-label>
              <ion-input [(ngModel)]="city" name="city" required class="input-text" maxlength="40"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Estado:</ion-label>
              <ion-input [(ngModel)]="state" name="state" required class="input-text" maxlength="40"></ion-input>
            </div>
 
            <div class="input">
              <ion-label class="required">Calle:</ion-label>
              <ion-input [(ngModel)]="street" name="street" required class="input-text" maxlength="40"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Colonia:</ion-label>
              <ion-input [(ngModel)]="colony" name="colony" required class="input-text" maxlength="40"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Número Exterior:</ion-label>
              <ion-input [(ngModel)]="number" name="number" required class="input-text" maxlength="10"></ion-input>
            </div>
            <div class="input">
              <ion-label >Número Interior:</ion-label>
              <ion-input [(ngModel)]="numberInt" name="numberInt" required class="input-text" maxlength="10"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Código Postal:</ion-label>
              <ion-input [(ngModel)]="cp" name="cp" required class="input-text" maxlength="5"
                inputmode="numeric"></ion-input>
            </div>
            <div class="input">
              <ion-label class="required">Referencia:</ion-label>
              <ion-input [(ngModel)]="referencias" name="referencias" required class="input-text" maxlength="40"></ion-input>
            </div>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content>
 
<ion-footer class="footer">
  <ion-button class="next-button" (click)="addDirection()"  [ngClass]="{
    'enable-button': validateData(),
    'disable-button': !validateData()
  }" [disabled]="!validateData()">
    <h3 class="title">
      Siguiente
    </h3>
  </ion-button>
</ion-footer>