<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a [routerLink]="['../../']" class="back-button">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="secondary-header">Saldos / Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="searchbar">
    <ion-searchbar class="searchbar" (ionChange)="handleSearch($event)" search-icon="search-outline"
      show-clear-button="focus" title="search" placeholder="Buscar Documentos">
    </ion-searchbar>
  </div>
  <div class="documents-page">
    <ion-grid class="filters">
      <ion-row class="ion-align-items-center">
        <span>Filtrar por:</span>
        <ion-col>
          <ion-img [ngClass]="{ 'typeSelected': selectedFilter === 'cotiza' }" src="assets/images/bot_cotiza.png"
            alt="bot_cotiza" (click)="handleFilter('cotiza')">
          </ion-img>
        </ion-col>
        <ion-col>
          <ion-img [ngClass]="{ 'typeSelected': selectedFilter === 'factura' }" src="assets/images/bot_factura.png"
            alt="bot_factura" (click)="handleFilter('factura')">
          </ion-img>
        </ion-col>
        <ion-col>
          <ion-img [ngClass]="{ 'typeSelected': selectedFilter === 'pagoLibre' }" src="assets/images/bot_pago_libre.png"
            alt="bot_pago_libre" (click)="handleFilter('pagoLibre')">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="lista-documentos">
      <ion-item *ngFor="let document of documents" [ngClass]="getDocumentClass(document)" class="documento"
        (click)="handleSelectedDoc(document)">
        <div class="imgContainer">
          <img [src]="getDocumentImage(document)" alt="document" />
        </div>
        <ion-label>
          <div *ngIf="!document.remision && !document.factura">
            Cotiza N° {{ document.cotiza }}
          </div>
          <div *ngIf="document.remision && document.remision !== ''">
            Recibo N° {{ document.cotiza }}
          </div>
          <div *ngIf="document.factura && document.factura !== ''">
            Factura N° {{ document.cotiza }}
          </div>
          <div class="extra-info">
            <span>Saldo: {{ document.saldo }}</span>
            <ion-icon [name]="isDocumentSelected(document) ? 'radio-button-on-outline' 
              : 'radio-button-off-outline'"></ion-icon>
          </div>
          <div class="extra-info">
            <span>Fecha: {{ document.fechaCotiza }}</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="documents.length === 0">
        <ion-label style="text-align: center;">No hay documentos disponibles</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-justify-content-center">
  <div *ngIf="selectedFilter !== 'pagoLibre'">
    <ion-button size="default" shape="round" class="button-addressbook">
      <span>Total a Pagar: <br> {{ totalSaldo | number:'1.2-2' }} {{ 
        selectedCurrencyType === "Pesos Mexicanos" ? 'MXN' : 
        selectedCurrencyType === "Dolares Estadounidenses" ? 'USD' : 'MXN' }}</span>
      <a type="button" class="button-addressbook" (click)="processPayment()">
        <span>Proceder a Pago</span>
      </a>
    </ion-button>
  </div>
  <div *ngIf="selectedFilter === 'pagoLibre'">
    <ion-item>
      <ion-label position="floating">Descripción:</ion-label>
      <ion-input placeholder="Opcional" type="text" [(ngModel)]="customDescription"></ion-input>
      <ion-label position="floating">Monto Personalizado*:</ion-label>
      <ion-input type="number" [(ngModel)]="customAmount"></ion-input>
    </ion-item>
    <ion-button size="default" shape="round" class="button-addressbook">
      <span>Total a Pagar: <br> {{ customAmount | number:'1.2-2' }} {{ 
        selectedCurrencyType === "Pesos Mexicanos" ? 'MXN' : 
        selectedCurrencyType === "Dolares Estadounidenses" ? 'USD' : 'MXN' }}</span>
      <a type="button" class="button-addressbook" (click)="processPayment()">
        <span>Proceder a Pago</span>
      </a>
    </ion-button>
  </div>
</ion-footer>
